.venv/
**__pycache__
data/
*.ipynb
.vscode
.mypy_cache
*.log
.pytest_cache
.coverage
dist/
*.pdf
*.epub
*.zip
logs
*.docx?
*.odt
/.bin
.secrets
*.tfstate*
*.terraform*
*.db
*.exe
*.docx
!elevate.exe
!esempio.docx
!logo.svg
.ruff_cache
/guetzli
.pyre
*.pyd
build
*.pid
/.eslintrc.js
/.eslintignore
.scannerwork